body {
  font-family: Arial, Helvetica, sans-serif;
  color: #252525;
  background-color: #efefef;
  margin: 0;
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.8rem 0;
  gap: 0.5rem;
}

.form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.todo-list {
  margin: 0;
  padding: 0 40px;
}

.todo-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-actions button {
  margin-left: 0.5rem;
}
